<%= form_with model: @article, url: articles_path, local: true, data: { turbo: false } do |form| %>
<% if @article.errors.any? %>
<div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
    <h2><%= pluralize(@article.errors.count, "error") %> prohibited this user from being saved:</h2>

    <ul>
        <% @article.errors.each do |error| %>
        <li><%= error.full_message %></li>
        <% end %>
    </ul>
</div>
<% end %>

<div class="flex flex-col">
    <%= form.text_field :title, placeholder: "タイトル", class: "w-full flex-1 py-4 border" %>
    <%= form.text_field :name, placeholder: "タグ", class: "w-full flex-1 py-2 border" %>
    <%= form.text_area :text, placeholder: "内容", class: "w-full flex-1 py-2 border"  %>
    <div>
        <%= form.submit "投稿する", class: "flex-none border bg-sky-500 hover:bg-sky-500/75" %>
    </div>
</div>
<% end %>