<!DOCTYPE html>
<html>

  <head>
    <title>App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="min-h-full flex flex-col bg-stone-200">
    <%# ヘッダー %>
    <%= render 'shared/header' %>

    <%# notice メッセージ %>
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice">
        <%= notice %>
      </p>
    <% end %>

    <%# devise用になる？ TODO：appにおくのはだめか？ %>
    <p class="alert"><%= alert %></p>

    <%# メインの表示 %>
    <%= yield %>
  </body>

</html>
